body {
    font-family: 'Verdana', sans-serif;
    background-color: rgba(138, 48, 173, 0.855); 
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: justify;
}

header {
    position: sticky;
    background-color: hsla(283, 100%, 18%, 0.418); 
    color: #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
}

section {
    background-color: rgb(57, 11, 66); 
    color: #ffffff;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
}

h2 {
    color: #ffffff;
    margin-top: 40px; 
}


ul {
    padding-left: 25px;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ffffff;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: hwb(273 44% 20% / 0.801); 
}

a {
    color: #9a82a15b; /* Link em azul mais claro */
    text-decoration: none;
}
